{{#paper-card}}
  {{#paper-card-title}}
    {{#paper-card-title-text}}
        <div style="display: flex; flex-direction: row;">
            <h4 style="margin: 10px; flex: 1">{{title}}</h4>
            <div style="flex: 4;">
                {{paper-input value=search icon="search" icon-class="search"}}
            </div>
            {{#paper-button}}Add +{{/paper-button}}
        </div>      
    {{/paper-card-title-text}}
  {{/paper-card-title}}
  {{#paper-card-content}}
    {{yield}}
  {{/paper-card-content}}
{{/paper-card}}
