@import 'ember-paper';
@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";

@import 'app-variables';
@import 'table';

body,
html {
    font-family: "AvenirNextPro", "Helvetica Neue", Helvetica, Arial, san-serif;
    font-weight: normal;
    font-style: normal;
    color: #1a1a1a;
    font-size: 18px;
    line-height: normal;
    a {
        cursor: pointer;
        &:hover,
        &:focus {
            text-decoration: none !important;
        }
    }
    .modal-backdrop.in {
        opacity: 0.85;
    }
}

@media #{$tablet} {
  p {
    font-size: 16px;
  }
}

.site-nav-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.site-content-container {
    display: flex;
    flex-direction: column;
    margin: 10px;
    height: 100%;
      
    .task-content {
        flex: 3;
        overflow: auto;
    }
    
    .notes-box {
        height: 200px;
        width: 100%;
        border: black solid 2px;
        flex-shrink: 0;
        overflow: hidden;
        
        &.close {
          height: 50px;
        }
        
        .notes-container {
          overflow: scroll;
          height: 100%;
          
          .content {
            margin: 0 10px
          }
        }
    }
    
}

md-card md-card-title {
    padding: 16px;
}

.ember-modal-dialog, .ember-modal-overlay {
  z-index: 100;
}

.ember-modal-dialog {
  border-radius: 0;
  min-width: 500px;
}

.right {
  float: right;
}

.clearfix {
  clear: both;
}

.no-pad {
  padding: 0;
}

.no-margin {
  margin: 0;
}