@import 'ember-paper';
@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";

@import 'app-variables';
@import 'table';

body,
html {
    font-family: "AvenirNextPro", "Helvetica Neue", Helvetica, Arial, san-serif;
    font-weight: normal;
    font-style: normal;
    color: #1a1a1a;
    font-size: 18px;
    line-height: normal;
    a {
        cursor: pointer;
        &:hover,
        &:focus {
            text-decoration: none !important;
        }
    }
    .modal-backdrop.in {
        opacity: 0.85;
    }
}

@media #{$tablet} {
  p {
    font-size: 16px;
  }
}

.site-nav-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.site-content-container {
    display: flex;
    flex-direction: column;
    padding: 15px;
    height: 100%;
    background: #F5F5F5;
      
    //TASK COMPONENT
    .task-content {
        flex: 3;
        overflow: auto;
        margin-bottom: 10px;
        
        .row {
          height: 100%
        }
        
        .task-box {
          height: 100%;
          transition:linear all 0.2s;
          position: relative;
          top:0px;
          color: var(--textColor);
          position: relative;
          padding: 20px;
          background: white;
          border-radius: 3px;
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
          border-bottom: 1px solid #e0e0e0;
          
          .task-list {
            position: relative;
            border: 1px solid black;
            height: 100%;
          }  
        }
    }
    
    .notes-box {
        height: 200px;
        width: 100%;
        border: black solid 2px;
        flex-shrink: 0;
        overflow: hidden;
        
        &.close {
          height: 50px;
        }
        
        .notes-container {
          overflow: scroll;
          height: 100%;
          
          .content {
            margin: 0 10px
          }
        }
    }
    
}

md-card md-card-title {
    padding: 16px;
}

.ember-modal-dialog, .ember-modal-overlay {
  z-index: 100;
}

.ember-modal-dialog {
  border-radius: 0;
  min-width: 500px;
}

.right {
  float: right;
}

.clearfix {
  clear: both;
}

.no-pad {
  padding: 0;
}

.no-margin {
  margin: 0;
}

.has-error .form-control:focus,
.has-success .form-control:focus {
  box-shadow: none;
}

.has-error .form-control:focus {
  border-color: tomato;
}

.has-success .form-control:focus {
  border-color: rgb(31, 187, 20);
}

// Styles for goal page
.goal-page {
  margin: 20px;
  
  h3, p {
    background: whitesmoke;
    padding: 10px;
  }
}